Repository tox-dev/tox, pull requests merged in 2018-06, with the labels that each got.

#841 Ignore basepython for default factors (#477)
  .gitignore
  changelog/477.bugfix.rst
  doc/conf.py
  doc/config.rst
  doc/example/general.rst
  src/tox/config.py
  tests/test_config.py
  tests/test_z_cmdline.py
  tox.ini
Labels: area:configuration, bug:normal, feature:change, level:medium

#859 Documentation improvements
  .codecov.yml
  .gitignore
  CHANGELOG.rst
  changelog/19.feature.rst
  changelog/477.bugfix.rst
  changelog/706.bugfix.rst
  changelog/754.misc.rst
  changelog/794.feature.rst
  changelog/797.doc.rst
  changelog/798.feature.rst
  changelog/799.doc.rst
  changelog/800.misc.rst
  changelog/801.misc.rst
  changelog/802.misc.rst
  changelog/856.feature.rst
  changelog/859.doc.rst
  changelog/examples.rst
  doc/_static/custom.css
  doc/_static/img/tox.png
  doc/_static/img/tox.svg
  doc/_static/img/toxfavi.ico
  doc/_static/sphinxdoc.css
  doc/conf.py
  pyproject.toml
  readthedocs.yml
  setup.py
  tox.ini
Labels: area:documentation, feature:new, level:medium, needs:review, type:internal

#860 Replace the PEP-386 parser for the more general PEP-440
  .codecov.yml
  changelog/860.feature.rst
  setup.py
  src/tox/_verlib.py
  src/tox/config.py
  src/tox/session.py
  src/tox/venv.py
  tests/test_session.py
  tests/test_z_cmdline.py
  tox.ini
Labels: feature:change, level:medium
